<md-content layout-padding>

    <md-grid-list ng-cloak
            md-cols="1" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="4"
            md-row-height-gt-md="1:1" md-row-height="4:3" 
             >
            <md-grid-tile ng-repeat="machine in machines track by $index" >
                <md-card flex="95"  md-theme="{{machine.ofState.theme}}" >
                    <md-card-header >
                    <md-card-avatar >
                        <md-icon md-svg-src="img/icons/{{machine.ofState.icon}}"></md-icon>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-headline"><!--strong>Màquina: </strong-->{{machine.name}}</span>
                    </md-card-header-text>
                    <md-button  class="md-fab md-mini md-primary md-hue-2" ng-click="go(machine.id)"  aria-label="Go">
                        <md-icon md-svg-src="img/icons/ic_computer_white_18px.svg"></md-icon>
                    </md-button>
                    <md-button  class="md-fab md-mini md-primary md-hue-2" ng-click="goBigScreen(machine.id)"  aria-label="Go">
                        <md-icon md-svg-src="img/icons/ic_visibility_white_18px.svg"></md-icon>
                    </md-button>
                    </md-card-header>
                    <md-card-title>
                    <md-card-title-text>
                        <!--span class="md-headline"><strong>OF:</strong>{{machine.ofActual}}</span-->
                        <span><strong>{{machine.ofActual}}</strong></span>
                        <!--div><strong>Descripció:</strong></div-->
                        <span class="md-subhead">&nbsp&nbsp{{machine.ofDescription}}</span>
                    </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                    <div layout-xs="column" layout="row"  layout-align="space-around">
                        <!--md-progress-circular md-mode="determinate" value="{{ofCompletedPercent}}"></md-progress-circular-->
                        <div layout= "column" layout-align="space-around" ng-if="machine.ofCompletedPercent">
                            <h3 >{{machine.ofCompletedPercent  | number:2}}%</h3>
                            <div>
                                <md-progress-linear md-mode="determinate" value="{{machine.ofCompletedPercent}}"></md-progress-linear>
                                <md-progress-linear md-mode="determinate" value="{{machine.ofCompletedPercent}}"></md-progress-linear>
                            </div>
                        </div>
                        <div layout= "column" layout-align="space-around">
                        
                            <span ><strong>Ordre:</strong></span>
                            <span>&nbsp{{machine.ofQtyPlanned | number:0}}</span>
                            <span ng-if="machine.ofCompleted"><strong>Complert:</strong></span>
                            <span>&nbsp{{machine.ofCompleted | number:0 }}</span>
                        </div>
                        <div layout= "column" layout-align="space-around center">
                            <span class="md-subhead">{{machine.ofState.name}}</span>
                        </div>
                    </div>
                    </md-card-content>
                </md-card>
            </md-grid-tile>
    </md-grid-list>
</md-content>