
<md-content layout-padding>
 <div flex="grow" layout="row"       layout-align="center center">
   <div flex-gt-sm="50" flex>
    <md-toolbar layout="row" class="md-hue-4">
      <div class="md-toolbar-tools">
        <span>{{machine}}</span>
      </div>
      <md-button  class="md-primary" ng-click="goBack()"  aria-label="Go">
            <md-icon md-svg-src="img/icons/ic_backspace_white_18px.svg"></md-icon>
          </md-button>
    </md-toolbar>
    <md-content class="md-whiteframe-2dp">
      <md-list flex>
        
        <md-list-item class="md-3-line" ng-repeat="machine in machines" ng-click="go(machine.WrkCtrId)">
          <!--img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" /-->
          <div class="md-list-item-text" layout="column">
            <h3>{{ machine.WrkCtrId }}</h3>
          </div>
          <md-icon class="md-secondary md-hue-2" aria-label="big screen" md-svg-src="img/icons/ic_visibility_black_18px.svg" ng-click="goBigScreen(machine.WrkCtrId)" style="color: greenyellow;"></md-icon>
          <md-icon md-svg-src="img/icons/ic_computer_black_18px.svg" aria-label="normal screen" ng-click="go(machine.WrkCtrId)" style="color: greenyellow;"></md-icon>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
        
      </md-list>
    </md-content>
  </div>
 </div>
</md-content>